<h1>Wordle cheat mode</h1>

<a href="<%= root_url %>">Reset</a><br>
<hr>

<form action="<%= root_url %>" method="get">

<% @guesses.each_with_index do |guess, i| %>
  <div class="guess">
    <input type="hidden" name="previous_guess[]" value="<%= guess.to_param %>">

    <% guess.letters.each_with_index do |(letter, char_type), j| %>
      <%= render "letter", letter: letter, char_type: char_type, guess_idx: i, letter_idx: j %>
    <% end %>
  </div>
<% end %>

<input type="text" name="guess" placeholder="next guess">

<% unless @guesses.empty? %>
  <div>
    <%= @remaining_words.size %> more words
    <ul><% @remaining_words.take(10).each do |w| %><li><%= w %></li><% end %></ul>
  </div>
  <div>
    Most common letters.
    <ul>
      <% @letter_counts.sort_by { |l, c| [-c, l] }.each do |l, c| %>
        <li><b><%= l %></b> <%= c %></li>
      <% end %>
    </ul>
<% end %>

</form>
