<h1>Wordle cheat mode</h1>

<a href="<%= root_url %>">Reset</a><br>
<hr>

<form action="<%= root_url %>" method="get">

<% @guesses.each do |guess| %>
  <div class="guess">
    <input type="hidden" name="previous_guess[]" value="<%= guess.to_param %>">

    <% guess.letters.each do |letter, char_type| %>
      <span class="guess-letter guess-<%= char_type %>"><%= letter %></span>
    <% end %>
  </div>
<% end %>

<% unless @guesses.empty? %>
  <div>
    <%= @remaining_words.size %> more words
    <ul><% @remaining_words.take(10).each do |w| %><li><%= w %></li><% end %></ul>
  </div>
<% end %>

<input type="text" name="guess" placeholder="next guess">

</form>
